<div class="bg-peach aspect-[4/5] text-sm">

    <div class="grid grid-cols-3 gap-0 h-full">
        <div class="pl pt">We offer:</div>
        <div class="swiper pl">
            <div class="swiper-wrapper pl">
                <div class="swiper-slide">Visual Identity</div>
                <div class="swiper-slide">Strategy</div>
                <div class="swiper-slide">Market platform</div>
                <div class="swiper-slide">Commiunication</div>
                <div class="swiper-slide">Branding</div>
                <div class="swiper-slide">Web design</div>
                <div class="swiper-slide">Copywriting</div>
                <div class="swiper-slide">Animation</div>
                <div class="swiper-slide">Social media</div>
                <div class="swiper-slide">Campaign</div>

            </div>
        </div>
        
    </div>

</div>
