* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 16px;
}


@layer utilities {

  .h-screen {
    height: calc(var(--vh)*100);
  }

  :root {
    --site-padding: 1rem;
  }

  @screen lg {
    :root {
      --site-padding: 2rem;
    }
  }

  .grid:not(.gap-0) {
    grid-gap: calc(var(--site-padding) * 0.5);
    row-gap: var(--site-padding);
  }

  .grid-sm:not(.gap-0) {
    row-gap: calc(var(--site-padding) * 0.5);
  }

  @screen lg {
    .grid:not(.gap-0) {
      grid-gap: calc(var(--site-padding) * 1);
    }
    
    .grid-sm:not(.gap-0) {
      row-gap: calc(var(--site-padding) * 0.5);
    }
  }

  .grid.row-gap-0 {
    row-gap: 0 !important;
  }

  .container-px {
    padding-left: calc(var(--site-padding) * 1);
    padding-right: calc(var(--site-padding) * 1);    
  }

  @screen lg {
    .container-px {
      padding-left: calc(var(--site-padding) * 2.75);
      padding-right: calc(var(--site-padding) * 2.75);    
    }
  }

  .p {
    padding: var(--site-padding);
  }

  .pt {
    padding-top: var(--site-padding);
  }

  .pb {
    padding-bottom: var(--site-padding);
  }

  .pl {
    padding-left: var(--site-padding);
  }

  .pr {
    padding-right: var(--site-padding);
  }

  .px {
    padding-left: var(--site-padding);
    padding-right: var(--site-padding);
  }

  .py {
    padding-top: var(--site-padding);
    padding-bottom: var(--site-padding);
  }

  .m {
    margin: var(--site-padding);
  }

  .mt {
    margin-top: var(--site-padding);
  }

  .mb {
    margin-bottom: var(--site-padding);
  }

  .ml {
    margin-left: var(--site-padding);
  }

  .mr {
    margin-right: var(--site-padding);
  }

  .mx {
    margin-left: var(--site-padding);
    margin-right: var(--site-padding);
  }

  .my {
    margin-top: var(--site-padding);
    margin-bottom: var(--site-padding);
  }



  .p-sm {
    padding: calc(var(--site-padding) * 0.5);
  }

  .pt-sm {
    padding-top: calc(var(--site-padding) * 0.5);
  }

  .pb-sm {
    padding-bottom: calc(var(--site-padding) * 0.5);
  }

  .pl-sm {
    padding-left: calc(var(--site-padding) * 0.5);
  }

  .pr-sm {
    padding-right: calc(var(--site-padding) * 0.5);
  }

  .px-sm {
    padding-left: calc(var(--site-padding) * 0.5);
    padding-right: calc(var(--site-padding) * 0.5);
  }

  .py-sm {
    padding-top: calc(var(--site-padding) * 0.5);
    padding-bottom: calc(var(--site-padding) * 0.5);
  }

  .m-sm {
    margin: calc(var(--site-padding) * 0.5);
  }

  .mt-sm {
    margin-top: calc(var(--site-padding) * 0.5);
  }

  .mb-sm {
    margin-bottom: calc(var(--site-padding) * 0.5);
  }

  .ml-sm {
    margin-left: calc(var(--site-padding) * 0.5);
  }

  .mr-sm {
    margin-right: calc(var(--site-padding) * 0.5);
  }

  .mx-sm {
    margin-left: calc(var(--site-padding) * 0.5);
    margin-right: calc(var(--site-padding) * 0.5);
  }

  .my-sm {
    margin-top: calc(var(--site-padding) * 0.5);
    margin-bottom: calc(var(--site-padding) * 0.5);
  }






  .p-lg {
    padding: calc(var(--site-padding) * 2);
  }

  .pt-lg {
    padding-top: calc(var(--site-padding) * 2);
  }

  .pb-lg {
    padding-bottom: calc(var(--site-padding) * 2);
  }

  .pl-lg {
    padding-left: calc(var(--site-padding) * 2);
  }

  .pr-lg {
    padding-right: calc(var(--site-padding) * 2);
  }

  .px-lg {
    padding-left: calc(var(--site-padding) * 2);
    padding-right: calc(var(--site-padding) * 2);
  }

  .py-lg {
    padding-top: calc(var(--site-padding) * 2);
    padding-bottom: calc(var(--site-padding) * 2);
  }

  .m-lg {
    margin: calc(var(--site-padding) * 2);
  }

  .mt-lg {
    margin-top: calc(var(--site-padding) * 2);
  }

  .mb-lg {
    margin-bottom: calc(var(--site-padding) * 2);
  }

  .ml-lg {
    margin-left: calc(var(--site-padding) * 2);
  }

  .mr-lg {
    margin-right: calc(var(--site-padding) * 2);
  }

  .mx-lg {
    margin-left: calc(var(--site-padding) * 2);
    margin-right: calc(var(--site-padding) * 2);
  }

  .my-lg {
    margin-top: calc(var(--site-padding) * 2);
    margin-bottom: calc(var(--site-padding) * 2);
  }





  .text-menu {
    font-size: 1.75rem;
    text-transform: uppercase;
  }

  @screen lg {
    .text-menu {
      font-size: 2rem;
    }
  }




}


.swiper-wrapper{transition-timing-function:linear!important;}




@tailwind base;
@tailwind components;
@tailwind utilities;